* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

button,
a {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.main-wrapper {
    &__image {
        position: absolute;
        z-index: 3;
        width: 167vw;  
        height: 90px; 
    }
}

.top {
    background-image: url(./img/top.jpg);
    height: 710px;
    padding: 196px 120px;
    position: relative;
    z-index: 0;    

    &__image {
        position: absolute;
        top: 94px;
        left: 63px;
    }

    &__image-3 {
        position: absolute;
        top: 69px;
        left: 156px;
    }

    &__image-5 {
        position: absolute;
        bottom: 135px;
        right: 455px
    }

    &__image-4 {
        position: absolute;
        bottom: 59px;
        right: 344px;
    }

    &__image-1 {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }

    &__image-6 {
        display: none;
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
    }
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    display: flex;
    flex-direction: column;
    gap: 48px;

    &__top {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__title {
        font-size: 64px;
        font-weight: 700;
        line-height: 100%;
    }
     
    &__description {
        width: 720px;
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
    }

    &__btn {
        width: 247px;
        height: 66px;
        font-size: 24px;
        border-radius: 64px;
        background-color: black;
        color: white;
        text-align: center;
        padding-top: 16px;
        font-weight: 600; 
        border: 1px solid black;
    }

    &__btn:hover {
        color: black;
        background-color: white;
    }
}

.midle {
    background-image: url(./img/Rectangle.jpg);
    height: 1470px;
    position: relative;
    z-index: 0;
    margin-top: 90px;
    overflow: hidden;

    &__image {
        position: absolute;
        margin-top: 770px;
        margin-left: -100px;
        z-index: 1;
    }

    &__image-7 {
        position: absolute;
        z-index: 1;
        margin-top: 822px;
        margin-left: -80px;
    }

    &__image-8 {
        position: absolute;
        z-index: 1;
        margin-left: 808px;
        margin-top: 100px;
        width: 584px;
        height: 584px;
    }
    
    &__box {
        color: white;
        position: absolute;
        z-index: 2;
        margin-top: 94px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__mobile {
        display: none;
    }

    &__title {
        font-weight: 700;
        font-size: 64px;
    }

    &__description {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
    }

    &__product-box  {
        margin-top: 364px;
        position: absolute;
        z-index: 3;
        display: flex;
        column-gap: 32px;
    }

    &__position {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }

    &__link:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
    }

    &__product-box-2 {
        display: none;
    }
}

.product {
    background-color: white;
    border-radius: 30px;
    width: 378px;
    height: 473px;
    border: none;
    outline: none;

    &_1 {
        height: 512px;
    }

    &_2 {
        height: 551px;
    }

    &__name-box {
        margin-left: 32px;
        margin-top: 32px;
    }

    &__namber {
        background-color: #F7F7F7;
        width: 108px;
        height: 36px;
        font-weight: 500;
        font-size: 16px;
        color: black;
        border-radius: 52px;
        padding: 8px 16px;
    }

    &__namber_1 {
        width: 111px;
    }

    &__name {
        margin-top: 16px;
        font-size: 32px;
        font-weight: 700;
        color: black;
    }
}

.bottom {
    background-image: url(./img/Rectangle.jpg);
    height: 3500px;
    padding-top: 46px;
    position: relative; 

    &__image {
        margin-top: 53px;
        position: absolute;
        margin-left: 1158px;
    }

    &__image-2 {
        position: absolute;
        margin-top: 86px;
        margin-left: 1200px;
    }

    &__image-3 {
        position: absolute;
        margin-top: 3306px;
        margin-left: 1200px;
    }

    &__image-4 {
        position: absolute;
        margin-top: 3357px;
        margin-left: 1142px;
    }

    &__title {
        font-weight: 700;
        font-size: 64px;
        color: white;
        margin-bottom: 72px;
    }

    &__product-box {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}

.product-3 {
    display: flex;
    border-radius: 30px;
    background-color: white;
    width: 1200px;
    height: 500px;

    &__btn-box {
        display: flex;
        flex-direction: column;
        padding: 48px 48px;
        gap: 36px;
    }

    &__name-box {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 504px;
    }

    &__name {
        font-weight: 700;
        font-size: 48px;
    }

    &__description {
        font-weight: 400;
        font-size: 24px;
    }
     
    &__btn {
        width: 247px;
        height: 66px;
        border-radius: 60px;
        background-color: black;
        color: white;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        padding-top: 16px;
    }

    &__btn:hover {
        color: black;
        background-color: white;
        border: 1px solid black;
    }
}

.footer {
    background-image: url(./img/Rectangle.svg);
    height: 150px;
    text-align: center;
    padding: 64px;

    &__title {
        font-weight: 600px;
        font-size: 24px;
    }
}

/* Фоновая подложка модального окна */
.game-modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Темный фон */
    backdrop-filter: blur(5px);   /* Размытие заднего плана */
    z-index: 1000;
    justify-content: center;
    align-items: center;

    /* Контентная область окна */
    &__content {
        background: white;
        padding: 30px;
        border-radius: 20px;
        text-align: center;
        position: relative;
        width: 90%;
    max-width: 400px;
        box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    }

    /* Кнопка закрытия (крестик) */
    &__close {
        position: absolute;
        top: 15px; right: 20px;
        font-size: 28px;
        cursor: pointer;
        color: #333;
    }

    &__input-group {
        margin: 20px 0;
    }

    &__input-group input {
        padding: 10px;
        width: 70px;
        border: 2px solid #ddd;
        border-radius: 8px;
        margin-right: 10px;
    }

    &__input-group button {
        padding: 10px 20px;
        background: #000; /* Подстройте под цвет кнопок вашего сайта */
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }

}

@import "mobile";